body {
    font-family: Helvetica, sans-serif;
}

header {
    background-image: url("resources/finnish.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    font-weight: bold;
}

.start-price {
    font-weight: bold;
    color: blue;
}

#brushes h2 {
    background-color: mediumspringgreen;
}

#frames h2 {
    background-color: lightcoral;
}

#paint h2 {
    background-color: skyblue;
}